<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>角色列表</title>
	<link rel="stylesheet" th:href="@{/static/css/index.css}" />
	<script type="text/javascript" th:src="@{/static/js/index.js}"></script>
</head>
<body>
	<div>
			角色列表
	</div>
	<div class="character-list">
		<div class="character-item" th:each="employee : ${list}" th:object="${employee}">
			<img th:id="*{id}" class="character-img" th:src="@{|/static/profile/*{profile}|}" alt="">
		</div>
	</div>
	<div style="display:none" class="hold-character-item" th:each="employee : ${holdList}">
		<div th:id="@{|h${employee.id}|}" th:text="${employee.id}"></div>
	</div>
</body>
</html>