<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>角色列表</title>
	<link rel="stylesheet" th:href="@{/static/css/index.css}" />
	<script type="text/javascript" th:src="@{/static/js/index.js}"></script>
</head>
<body>
	<h1>角色列表</h1>
	<span>欢迎你,<b th:if="${session.currUser != null}" th:text="${session.currUser.getUserName()}">旅行者</b>
				<b th:unless="${session.currUser != null}" th:text="旅行者">旅行者</b>
	</span>
	<a th:href="@{userAddEmployee}">添加角色	</a>
	<a th:href="@{userHoldItem}">背包信息</a>
	<a th:href="@{item}">物品图鉴</a>
	<div class="character-list">
		<div class="character-item" th:each="employee : ${list}" th:object="${employee}">
			<a th:href="@{'/employeeDetail/'+*{id}}">
			<input type="hidden" name="id" th:value="*{id}"/>
			<img th:id="*{id}" class="character-img" th:src="@{|/static/profile/*{profile}|}" alt="">
			</a>
		</div>
	</div>
	<div style="display:none" class="hold-character-item" th:each="employee : ${holdList}">
		<div th:id="@{|h${employee.id}|}" th:text="${employee.id}"></div>
	</div>
</body>
</html>