<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.zhaowei.genshin.mapper.EmployeeMapper">
	<!-- List<Employee> getAllEmployee(); -->
	<select id="getAllEmployee" resultType="Employee">
		select id,name,gender,attribute,country,profile from employee
	</select>
	<!-- List<Employee> getHoldEmployeeByUid(String uid); -->
	<select id="getHoldEmployeeByUid" resultType="Employee">
		select t1.id,t1.name,t1.gender,t1.attribute,t1.country,t2.e_status from employee t1,employee_hold t2 where t1.id = t2.eid and t2.uid=#{uid}
	</select>
	
	<!-- Employee getEmployeeByEid(Integer id); -->
	<select id="getEmployeeByEid" resultType="Employee">
		select id,name,gender,attribute,country,profile from employee where id=#{id};
	</select>
	
	<resultMap id="empStatusMap" type="Employee" >
		<id property="id" column="id"></id>
		<result property="name" column="name"></result>
		<result property="profile" column="profile"></result>
		<result property="gender" column="gender"></result>
		<result property="attribute" column="attribute"></result>
		<result property="country" column="country"></result>
		<result property="status" column="e_status"></result>
	</resultMap>

	<!-- Employee getEmployeeStatusByEid(Integer uid, Integer id); -->
	<select id="getEmployeeStatusByEid" resultMap="empStatusMap">
		select t1.id,t1.name,t1.profile,t1.gender,t1.attribute,t1.country,t2.e_status from employee t1,employee_hold t2 where t1.id = t2.eid and t2.uid=#{uid} and t1.id=#{id}
	</select>
	
		
	<resultMap id="empLevelMap" type="Employee" >
		<id property="id" column="id"></id>
		<result property="name" column="name"></result>
		<result property="profile" column="profile"></result>
		<result property="currLevel" column="curr_lv"></result>
		<result property="tarLevel" column="tar_lv"></result>
		<result property="currSkill1Level" column="s1_curr_lv"></result>
		<result property="tarSkill1Level" column="s1_tar_lv"></result>
		<result property="currSkill2Level" column="s2_curr_lv"></result>
		<result property="tarSkill2Level" column="s2_tar_lv"></result>
		<result property="currSkill3Level" column="s3_curr_lv"></result>
		<result property="tarSkill3Level" column="s3_tar_lv"></result>
	</resultMap>
	
	<!-- Employee getCurrEmpLevel(@Param("uid")Integer uid,@Param("eid") Integer eid); -->
	<select id="getCurrEmpLevel" resultMap="empLevelMap">
		select t1.id,t1.name,t1.profile,t2.curr_lv,t2.tar_lv,t2.s1_curr_lv,t2.s1_tar_lv,t2.s2_curr_lv,t2.s2_tar_lv,t2.s3_curr_lv,t2.s3_tar_lv from employee t1,employee_hold t2 where t1.id = t2.eid and uid=#{uid} and eid=#{eid}
	</select>
	
	<!-- void insertSelective(Employee employee); -->
	<insert id="insertSelective">
		insert into employee values(0,#{name},#{gender},#{attribute},#{country},#{profile})
	</insert>
	
	<!-- void deleteEmployeeHoldById(Integer id); -->
	<delete id="deleteEmployeeHoldById">
		delete from employee_hold where id = #{id}
	</delete>
	
	<!-- void insertEmployeeHoldByEid(@Param("uid")Integer uid,@Param("eid") Integer eid); -->
	<insert id="insertEmployeeHoldByEid">
		insert into employee_hold (uid, eid, e_status) values (#{uid}, #{eid}, 0)
	</insert>
	
	<!-- Integer queryEmpHoldIdByUidEid(@Param("uid")Integer uid,@Param("eid") Integer eid); -->
	<select id="queryEmpHoldIdByUidEid" resultType="Integer">
		select id from employee_hold where uid = #{uid} and eid = #{eid}
	</select>
	
	<!-- void updateLevelToEmpHold(Employee Employee); -->
	<update id="updateLevelToEmpHold">
		update employee_hold SET curr_lv=#{currLevel}, tar_lv=#{tarLevel}, s1_curr_lv=#{currSkill1Level}, s1_tar_lv=#{tarSkill1Level}, s2_curr_lv=#{currSkill2Level}, s2_tar_lv=#{tarSkill2Level}, s3_curr_lv=#{currSkill3Level}, s3_tar_lv=#{tarSkill3Level} where id = #{id}
	</update>
</mapper>