<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.zhaowei.genshin.mapper.ItemMapper">
	<!-- List<Item> getAllItem(); -->
	<select id="getAllItem" resultType="Item">
		select id,item_name,type,grade,img from item
	</select>
</mapper>